extends default

block content
  main
    div.home
      h1 Наслаждайтесь интернет-серфингом и легкостью чтения
      a.small-text Прочитайте весь текстовый контент в наиболее приятной форме. Ты можешь выбрать шрифты, цвета, закрасить картинки. Ничто не должно тебя отвлекать, максимальная концентрация.
      h2.small-text Добавить в браузер из:
      a(href="/")
        div.element-1
          img(class="browser" src="/images/chrome.png")
          div.browser-text Магазин Google
      a(href="/")
        div.element-2
          img(class="browser" src="/images/firefox.png")
          div.browser-text Магазин Firefox
    div.home
      img(src="/images/undraw_wireframing_n.svg" style="height: 40%; float: right; padding-top: 33px;")

    div.home(style="margin-top: -150px;")
      img(src="/images/internet.svg" style="width: 86%; float: left; margin-top: -52px;")
    div.home(style="margin-top: -150px;")
      h1 Интернет по-вашему, сфокусировано на тесте
      a.small-text Режим чтения облегчает чтение и устраняет все помехи. Какую бы страницу вы ни читали; каждая статья выглядит одинаково - именно так, как вы этого хотите. Он запускается/открывается автоматически или по нажатию на плагин.

    div.home(style="margin-top: 94px;")
      h1 Для тех, кто любит много читать
      a.small-text Dyslexic-add может иметь несколько необычное название, но в ней также есть все необходимые инструменты для любого стиля чтения. Особенно для тех, у кого дислексия, трудности с чтением, концентрацией или вниманием, а также для тех, кто просто хочет адаптировать текст так, как ему нравится.

    div.home(style="margin-top: 94px;")
      img(src="/images/woman_read_book.png" style="width: 95%; float: right; margin-top: -12px;")