extends default

block content
    main
        h2 Ручная установка:
            div.home
                p.small-text 1. Скачайте архив с плагином
                    a.link(href="https://dyslexic-helper.ru/dyslexic-helper.zip") по ссылке.
            div.home
                p.small-text 2. Распакуйте zip архив в вашей системе.
            div.home
                p.small-text 3. Введите в адресной строке вашего браузера:
                    a.link(href="chrome://extensions/") chrome://extensions/
                    img.instruct-pic(src="/images/instruct0.png")
            div.home
                p.small-text 4. Активируйте режим разработчика.
                    img.instruct-pic(src="/images/instruct1.png")
            div.home
                p.small-text 5. Нажмите "Загрузить распакованное приложение".
                    img.instruct-pic(src="/images/instruct2.png")
            div.home
                p.small-text 6. Выберете папку с распакованным архивом.
                    img.instruct-pic(src="/images/instruct3.png")
