#blurry-filter {
  width: 100%;
  height: 9rem;
  mask: linear-gradient(black 7rem, transparent);
  -webkit-mask: linear-gradient(#ed1f1f 86px, #d83b3b00);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  pointer-events: none;
  touch-action: none;
  background-color: #e0dfe5e0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EEE;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  cursor: default; }

*, *:before, *:after {
  box-sizing: inherit; }

header {
  width: 100%;
  height: 6rem;
  position: fixed;
  top: 0;
  z-index: 1;
}
  header > div {
    width: calc(100% - 3rem);
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center; }

#title {
  width: 100%; }
  #title .parent {
    line-height: 1em;
    color: #666; }
  #title .name {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    mix-blend-mode: difference; }

#reference {
  display: flex; }
  #reference > a {
    color: #444; }
    #reference > a + a {
      margin-left: 3rem; }

main, #folders {
  width: calc(100% - 3rem);
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1.5rem;
  padding-top: 12%;
}

.col-title {
  white-space: nowrap;
  font-size: 17px;
}
main > article {
  width: 100%;
  height: 32px;
  padding: 1rem;
  background-color: #FFF;
}

main > figure {
  width: 100%;
  margin: 0;
  background-color: #FFF;
  background-size: cover;
  border-radius: 1rem;
  transition: all 100ms ease-out; }
  main > figure:hover {
    box-shadow: 0 16px 16px -4px rgba(0, 0, 0, 0.3);
    transform: scale(1.02); }
  main > figure:after {
    content: '';
    padding-bottom: 100%;
    display: block; }
  main > figure > figcaption {
    margin: 1rem;
    color: #FFF;
    font-size: 1.25em;
    position: absolute; }

.home > figure {
  width: 100%;
  margin: 0;
  background-color: #FFF;
  border-radius: 1rem;
}

#folders {
  margin-top: .5rem;
  margin-bottom: 2rem; }
  #folders > article {
    width: 100%;
    height: 4rem;
    padding: 0 1.5rem;
    background-color: #FFF;
    border-radius: 1rem;
    line-height: 4rem;
    transition: all 100ms ease-out; }
    #folders > article:hover {
      box-shadow: 0 16px 16px -4px rgba(0, 0, 0, 0.1);
      transform: scale(1.02); }

footer {
  width: 100%;
  height: 8rem; }

.home {
  width: 100%;
}

.small-text {
  font-size: 16px;
  display: block;
  line-height: 30px;
}
.element-1 {
  position: relative;
  padding-top: 16px;
  left: 20px;
  float: left;
}
.element-2 {
  position: relative;
  padding-top: 16px;
  left: 64px;
  float: right;
}
.browser {
  max-width: 81px;
  width: 61px;
  float: left;
}
.browser-text {
  float: right;
  padding-top: 16px;
  padding-left: 20px;
  font-size: 18px;
  text-decoration: underline #8f0011;
}

footer {
  width: 100%;
  height: 100px;
  bottom: 0;
  overflow: hidden;
}

.roadmap {
  padding-top: 100px;
}

.main-container {
  padding: 30px;
}

/* HEADING */

.heading {
  text-align: center;
}

.heading__title {
  font-weight: 600;
}

.heading__credits {
  margin: 10px 0px;
  color: #888888;
  font-size: 25px;
  transition: all 0.5s;
}

.heading__link {
  text-decoration: none;
}

.heading__credits .heading__link {
  color: inherit;
}

/* CARDS */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 380px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__link,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}

.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
}

.card__apply {
  grid-row: 4/5;
  align-self: center;
}

/* CARD BACKGROUNDS */

.card-1 {
  background: radial-gradient(#1fe4f5, #3fbafe);
}

.card-2 {
  background: radial-gradient(#fbc1cc, #fa99b2);
}

.card-3 {
  background: radial-gradient(#76b2fe, #b69efe);
}

.card-4 {
  background: radial-gradient(#60d7a7, #5abaaf);
}

.card-5 {
  background: radial-gradient(#f588d8, #c0a3e5);
}

/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}

.row_size {
  margin: 4px;
}
